 .Card {
     display: flex;
     flex-direction: row;
     width: 910px;
     background-color: hsl(240, 5%, 91%);
     border-radius: 15px;
     min-height: 510px;
 }

 .Card-left {
     flex: 50%;
     height: 100%;
 }

 .Card-right {
     flex: 50%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     height: auto;
 }

 .Card-title {
     flex: 33%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     text-align: center;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: bold;
     font-size: 24px;
 }

 .Card-body {
     height: 100%;
     flex: 80%;
     display: flex;
     flex-direction: column;
     align-items: space-between;
     justify-content: center;
 }

 @media only screen and (max-width:1050px) {
     .Card {
         flex-direction: column;
         max-width: 90vw;
         overflow: visible;
     }
     .Card-title {
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
     }
     .Card-right {
         flex: 100%;
     }
     .Card-left {
         max-height: 100px;
         overflow: visible;
     }
 }